.feedback {
  max-width: 820px;
  margin: 100px auto 0;
  padding: 0 20px;
  position: relative;
  
  @media (max-width: $breakpoint477) {
    margin: 30px auto 0;
  }

  &-content {
    margin-bottom: 80px;
    text-align: center;

    &-title {
      @include section-title;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background: linear-gradient(12.08deg, rgba(241, 1, 191, 0.2) 2.82%, rgba(0, 102, 255, 0.2) 97.06%);
        box-shadow: 5px 5px 100px rgba(250, 0, 255, 0.2);
        width: 300px;
        height: 300px;
        left: 10%;
        transform: rotate(20deg) translateX(-50%);
        border-radius: 300px 200px 50px 69px;
        filter: blur(50px);
        z-index: -2;

        @media (max-width: $breakpoint768) {
          width: 150px;
          height: 150px;
          top: 200%;
        }
      }
    }

    &-text {
      @include section-text;

      &:after {
        content: "";
        position: absolute;
        background: linear-gradient(12.08deg, rgba(241, 1, 191, 0.2) 2.82%, rgba(0, 102, 255, 0.2) 97.06%);
        box-shadow: 5px 5px 100px rgba(250, 0, 255, 0.2);
        width: 300px;
        height: 300px;
        bottom: 5%;
        right: -65%;
        transform: rotate(20deg) translateX(-50%);
        border-radius: 300px 200px 50px 69px;
        filter: blur(50px);
        z-index: -2;

        @media (max-width: $breakpoint768) {
          bottom: -18%;
          right: -90%;
        }
      }
    }
  }

  &-form {
    width: 100%;

    & .input {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #bfbfbf;

      height: 83px;
      background: $white;
      border: 1px solid #5c5c5c;
      border-radius: 10px;
      width: 100%;
      padding: 29px 23px;
      margin-bottom: 23px;
      outline: none;

      &:required:focus:invalid {
        border: 2px solid red;
      }

      @media (max-width: $breakpoint768) {
        font-size: 16px;
        padding: 18px 0 18px 11px;
      }

      &.comment {
        resize: none;
        overflow: hidden;
        height: 200px;
        position: relative;


      }
    }

    & .submit {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #fff;
      position: relative;

      padding: 25px 167px;

      background: $bg;
      border: 1px solid $white;
      border-radius: 10px;
      display: block;
      margin: 47px auto 0;
      transition: 0.5s ease-in-out;

      &:hover {
        background: $white;
        color: $bg;
        border: 1px solid $bg;
      }

      @media (max-width: $breakpoint768) {
        padding: 25px 135px;
      }
    }
  }
}