* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: $breakpoint1100) {
  }
}

@mixin first-section-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 109%;
  color: $white;
}

@mixin first-section-text {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $white;
}

@mixin section-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: white;
  margin-bottom: 20px;

  @media (max-width: $breakpoint768) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
}

@mixin section-text {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;

  @media (max-width: $breakpoint768) {
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin cookie-text {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: $white;

  @media (max-width: $breakpoint768) {
    font-size: 12px;
  }
}

@mixin contact-title {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: white;

  @media (max-width: $breakpoint768) {
    font-size: 24px;
    line-height: 33px;
  }
}

@mixin contact-link{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-decoration-line: underline;
  color: white;

  @media (max-width: $breakpoint768) {
    font-size: 18px;
    line-height: 25px;
  }
}