@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/roboto-v30-latin-regular.woff2"), url("./font/roboto/roboto-v30-latin-regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/roboto-v30-latin-500.woff2"), url("./font/roboto/roboto-v30-latin-500.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/roboto/roboto-v30-latin-700.woff2"), url("./font/roboto/roboto-v30-latin-700.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/montserrat/montserrat-v25-latin-regular.woff2"), url("./font/montserrat/montserrat-v25-latin-regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/montserrat/montserrat-v25-latin-500.woff2"), url("./font/montserrat/montserrat-v25-latin-500.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/montserrat/montserrat-v25-latin-700.woff2"), url("./font/montserrat/montserrat-v25-latin-700.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("./font/noto-sans/noto-sans-v27-latin-regular.woff2"), url("./font/noto-sans/noto-sans-v27-latin-regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("./font/noto-sans/noto-sans-v27-latin-700.woff2"), url("./font/noto-sans/noto-sans-v27-latin-700.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020202;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020202;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.cookie {
  position: absolute;
  bottom: 0;
  background-color: #212834;
  width: 100%;
  height: 90px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(50%);
  box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767.99px) {
  .cookie {
    padding: 0 16px;
  }
}
.cookie-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #ffffff;
  margin: 0 0 0 80px;
}
@media (max-width: 767.99px) {
  .cookie-text {
    font-size: 12px;
  }
}
@media (max-width: 767.99px) {
  .cookie-text {
    margin: 0;
  }
}
.cookie-btn {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  outline: none;
  padding: 15px 50px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  cursor: pointer;
}
@media (max-width: 767.99px) {
  .cookie-btn {
    font-size: 12px;
  }
}
@media (max-width: 767.99px) {
  .cookie-btn {
    padding: 8px 25px;
  }
}

header {
  height: 100vh;
}

nav {
  margin-top: 30px;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu .logotype__item {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.nav-menu .nav-menu__item {
  transition: 0.5s ease-in-out;
}
.nav-menu .nav-menu__item:hover {
  color: #88c0fa;
}
.nav-menu .logotype__item:hover {
  transform: rotate(360deg);
}
.nav-menu .company-name {
  margin: 0 100px 0 0;
}
@media (max-width: 1098.99px) {
  .nav-menu .company-name {
    margin: 0 20% 0 0;
  }
}
.nav-menu .account {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 477.99px) {
  .nav-menu .account .login {
    display: none;
  }
}
.nav-menu .account span {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1098.99px) {
  .header-content {
    overflow-x: hidden;
    background-clip: padding-box;
  }
}

.header-content__wrapper {
  margin-top: -150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-section__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 109%;
  color: #ffffff;
  margin-bottom: 130px;
}
@media (max-width: 1098.99px) {
  .header-section__title {
    font-size: 48px;
    margin-bottom: 100px;
  }
}
@media (max-width: 767.99px) {
  .header-section__title {
    font-size: 35px;
    margin-bottom: 30px;
    line-height: 1.14;
  }
}
.header-section__text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-left: 105px;
  position: relative;
}
@media (max-width: 1098.99px) {
  .header-section__text {
    margin-left: 0;
  }
}
@media (max-width: 767.99px) {
  .header-section__text {
    font-size: 16px;
    margin-left: 0;
    line-height: 22px;
  }
}
.header-section__text:before {
  content: "";
  position: absolute;
  left: -140px;
  width: 140px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: white;
  transform: rotate(120deg);
}
@media (max-width: 1098.99px) {
  .header-section__text:before {
    display: none;
  }
}
.header-section__text:after {
  content: "";
  background: rgba(96, 92, 234, 0.5);
  top: -120px;
  left: -120px;
  filter: blur(100px);
  border-radius: 70px;
  width: 200px;
  height: 300px;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}
@media (max-width: 1098.99px) {
  .header-section__text:after {
    display: none;
  }
}

.header-section-left {
  height: 900px;
  width: 400px;
  margin-left: 80px;
  position: relative;
}
@media (max-width: 1098.99px) {
  .header-section-left {
    margin-top: 150px;
    height: 800px;
    margin-left: 40px;
  }
}
@media (max-width: 767.99px) {
  .header-section-left {
    margin-left: 0;
    margin-top: 100px;
    height: 800px;
    width: 300px;
  }
}
.header-section-left:after {
  content: "";
  position: absolute;
  background: radial-gradient(rgba(250, 0, 255, 0.2), rgba(250, 0, 255, 0.1));
  box-shadow: 5px 5px 100px rgba(250, 0, 255, 0.2);
  width: 600px;
  height: 300px;
  top: 50px;
  left: -50px;
  border-radius: 300px 200px 50px 69px;
  transform: rotate(20deg);
  filter: blur(30px);
  z-index: -1;
}
@media (max-width: 1098.99px) {
  .header-section-left:after {
    width: 400px;
    height: 150px;
    top: 200px;
    left: -40px;
    transform: rotate(60deg);
  }
}
.header-section-left .header-img {
  height: 100%;
}
@media (max-width: 767.99px) {
  .header-section-left .header-img {
    height: 90%;
  }
}

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.99px) {
  .footer__wrapper {
    margin-top: -100px;
  }
}
@media (max-width: 477.99px) {
  .footer__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
  color: white;
}
@media (max-width: 767.99px) {
  .footer-text {
    font-size: 24px;
    line-height: 29px;
  }
}

.footer-img-wrapper {
  display: flex;
  width: 33%;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 767.99px) {
  .footer-img-wrapper {
    width: 40%;
  }
}

.footer-img {
  cursor: pointer;
}
@media (max-width: 1098.99px) {
  .footer-img {
    width: 40%;
  }
}
@media (max-width: 477.99px) {
  .footer-img {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
