@import '../node_modules/normalize-scss/sass/normalize.scss';
@import './scss/var';
@import './scss/setup';
@import './scss/header';
@import './scss/cookie';
@import './scss/contact';
@import './scss/goals';
@import './scss/scanner';

.tool__wrapper {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: $breakpoint1100) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tool-info {
    flex: 1 0 45%;
    @media (max-width: $breakpoint1100) {
      flex: 0 0 50%;
    }
  }

  & .tool-info-title{
    @include section-title
  }

  & .tool-info-text{
    @include section-text
  }
}
